.number_of_results_field {
    width: 30px;
}

.photo_album_element_selected_image {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.photo_album_element_selected_image:hover {
    background-color: lightgray;
}

.photo_album_element_selected_image p {
    padding: 0;
    margin: 0;
    line-height: 15px;
}