.article_search {
    width: 315px;
    float: left;
}

.article_search .admin_field {
    width: 250px;
}

.article_search .admin_label {
    width: 100%;
}

.button_container {
    float: right;
}

.button {
    margin: 10px;
}

.search_results {
    margin: 10px;
    height: 30%;
}

.article_list {
    margin-left: 350px;
}

.article_metadata_editor, .term_selector {
    margin-left: 350px;
    height: 30%;
}

.article_metadata_editor textarea {
    width: 500px;
}

.show_all_link {
    float: left;
    clear: both;
    margin-bottom: 10px;
    margin-left: 10px;
}

.show_all_link  a {
    color: gray;
}

.datepicker {
    width: 75px;
}

.add_image_button {
    margin-top: 8px;
}

.listing .center_column {
    text-align: center;
}

.button {
    margin-left: 10px;
    margin-top: 10px;
}

.search_job {
    margin-left: 10px;
}

.term_editor_panel {
    margin: auto;
    width: 800px;
    margin-bottom: 25px;
}

.term_list_panel {
    margin: auto;
    width: 800px;
}

.terms_listing {
    margin: 10px;
}

.target_pages_fieldset {
    width: 800px;
    margin: auto;
}
