.webforms_editor_add_buttons {
    overflow-y: auto;
}

.webforms_editor_form_fields {
    clear: both;
    margin-top: 15px;
    overflow-y: auto;
}

.webforms_list .selected {
    font-weight: bold;
}