.image_search_wrapper {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.image_search {
    width: 350px;
    float: left;
}

.image_search_form {
    width: 293px;
}

.image_search .admin_field_wrapper {
    width: 220px;
    margin-top: 8px;
}

.image_search .admin_field_wrapper input {
    width: 210px;
}

.image_search .admin_field_wrapper select {
    width: 210px;
}

.image_search .admin_label_wrapper {
    width: 120px;
}

.button_container {
    margin-top: 10px;
    padding-left: 15px;
}

.search_button {
    margin-top: 15px;
}

.show_all_link {
    margin-top: 5px;
    clear: both;
    padding-left: 15px;
}

.show_all_link a {
    color: gray;
}

.images_list {
    margin-left: 350px;;
    height: 30%;
}

.image_editor {
    margin-left: 350px;;
    height: 100%;
}

.image_meta {
    margin-left: 350px;;
    height: 30%;
}

.admin_field  {
    width: 275px;
}

.admin_form {
    padding: 0px;
}

.article_list_searched_by_text {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.image_label_selector {
    margin-left: 350px;
}
