.image_search {
    width: 300px;
    height: 100%;
    float: left;
}

.button_container {
    margin-top: 40px;
    float: right;
}

.search_button {
    margin-top: 15px;
}

.show_all_link {
    clear: both;
}

.show_all_link  a {
    color: gray;
}

.images_list {
    margin-left: 350px;;
    height: 30%;
}

.image_editor {
    margin-left: 350px;;
    height: 100%;
}

.image_meta {
    margin-left: 350px;;
    height: 30%;
}

.admin_field  {
    width: 275px;
}

.article_list_searched_by_text {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.image_label_selector {
    margin-left: 350px;
}
