/* TEMPLATE EDITOR */
.admin_form li {
	list-style: none outside none;
	clear: both;
}

.admin_form {
	padding: 0px;
	margin: 10px;
}

.admin_label {
	min-width: 135px;
	float: left;
	padding-top: 12px;
}

.admin_form select {
	margin-top: 12px;
}

.admin_field {
	margin-top: 8px;
	width: 300px;
}

.template_editor_fieldset {
	float: left;
	margin-left: 50px;
}

.admin_fieldset .back a {
	color: black;
	color: gray;
	text-decoration: none;
}

.admin_fieldset .back a:hover {
	text-decoration: underline;
}
.admin_fieldset .back {
	margin: 0px;
	float: left;
}
.admin_fieldset .back-image {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: -2px;
	float: left;
}

/* TEMPLATE SELECTOR */
.scope_selector_fieldset {
	float: left;
	width: 230px;
}

.scope_selector_fieldset ul {
	padding: 0px;
	margin-left: 10px;
}

.scope_selector_fieldset li {
	list-style-type: none;
	line-height: 20px;
}

/* TEMPLATE LIST */
.template_list_fieldset {
	float: left;
	margin-left: 50px;
}

.template_listing .last .admin_label {
	display: none;
}