.tables_wrapper {
    width: 100%;
}

.table_listing {
    text-align: left;
    margin-left: 10px;
}

.table_selector {
    float: left;
}

.table_details_panel {
    width: 700px;
    float: left;
    overflow: auto;
    margin-bottom: 25px;
    margin-right: 25px;
}

.queries_form_wrapper {
    width: 800px;
}

.query_result_panel {
    width: 100%;
}

.queries_form_wrapper ul {
    margin: 0px;
    padding: 0px;
}

.queries_form_wrapper li {
    list-style-type: none;
}

.queries_form_wrapper .admin_field_text_area {
    width: 100%;
}

.button {
    margin-top: 5px;
    float: right;
}

.configuration_panel {
    width: 400px;
}

.configuration_panel .db_property {
    font-weight: bold;
}
