#install_component_form {
    margin-left: 15px;
}

#install_component_form .error {
    color: #ff0000;
}

.install-form-fieldset {
    width: 450px;
}

.install-log {
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
    line-height: 20px;
}

.modules-list-fieldset {
    width: 300px;
    float: left;
}

.component-details-fieldset {
    float: left;
    margin-left: 30px;
    width: 550px;
}

.modules-list-fieldset ul {
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.modules-list-fieldset li {
    line-height: 20px;
}