.element_list, .module_list {
	width: 325px;
	float: left;
}

.element_tree, .module_tree {
	height: 100%;
	border: 0px;
	margin-left: 10px;
}

.element_tree a, .module_tree a {
	text-decoration: none;
	color: black;
}

.element_tree a:hover, .module_tree a:hover {
	text-decoration: underline;
}

.element_tree ul, .module_tree ul {
	padding-left: 25px;
}

.element_tree  ul  li, .module_tree ul li {
	list-style-type: none;
	margin-top: 5px;
}

.element_meta, .module_meta {
	margin-left: 350px;;
}

.element_meta_table, .module_meta_table {
	width: 100%;
	margin-top: 0px;
	margin-left: 10px;
}

.element_meta_table .button {
	margin-top: 10px;
}

.label-cell {
	font-weight: bold;
}

.information-block {
	margin-left: 0px;
	margin-top: 5px;
}

.install_component_fieldset {
	width: 200px;
}

.install_component_fieldset .button {
	float: right;
	margin-top: 10px;
}

.install_component_fieldset .errors {
	float: left;
	color: red;
	margin-left: 20px;
	padding: 0;
}