.image_search {
    width: 300px;
    height: 100%;
    float: left;
}

.button_container {
    margin-top: 40px;
    float: right;
}

.search_button {
    margin-top: 15px;
}

.show_all_link {
    clear: both;
}

.show_all_link  a {
    color: gray;
}

.label-selector {
    margin-left: 10px;
    float: left;
    width: 150px;
}

.selected-labels {
    text-align: left;
    margin-left: 5px;
    float: left;
    width: 400px;
}

.selected-labels th {
    text-align: left;
}

.delete_column .admin_label {
    display: none;
}

.images_list {
    margin-left: 350px;;
    height: 30%;
}

.image_editor {
    margin-left: 350px;;
    height: 100%;
}

.image_meta {
    margin-left: 350px;;
    height: 30%;
}

.admin_field  {
    width: 275px;
}

.article_list_searched_by_text {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}