.image_element {
    overflow-y: auto;
}

.image_element_image {
    margin-left: 150px;
    margin-top: 8px;
}

.add_image_button {
    margin-top: 8px;
}

.size_field {
    width: 60px;
}

.url_field {
    width: 80%;
}