/* PAGE TREE */
.page_tree {
    overflow-x: scroll;
    padding-left: 10px;
}

.page_tree ul li {
    list-style-type: none;
    margin-top: 5px;
}

.page_tree_link {
    text-decoration: none;
}

.page_tree_link:hover {
    text-decoration: underline;
}

.page_blocks {
    margin-left: 350px;;
    height: 100%;
}

.published {
    list-style-image: url(/admin/static.php?file=/modules/pages/img/page.png);
    font-style: normal;
}

.depublished {
    list-style-image: url(/admin/static.php?file=/modules/pages/img/page_non_published.png);
    font-style: italic;
}

.not_in_navigation {
    color: gray;
}

.active {
    font-weight: bold;
}

.block-selector {
    float: left;
    width: 150px;
}

.selected-blocks {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 400px;
}

.selected-blocks th {
    text-align: left;
}

.delete_column .admin_label {
    display: none;
}

.unpublished {
    color: red;
    font-style: italic;
}

.page_metadata_editor textarea {
    width: 95%;
}

.page_metadata_editor .keywords_field {
    width: 95%;
}
