.admin_form li {
    list-style: none outside none;
}

.admin_label {
    min-width: 175px;
    float: left;
}

.admin_field {
    width: 450px;
}

.settings_form {
    clear: both;
}

.settings_form .panel {
    margin: auto;
    width: 900px;
    margin-bottom: 25px;
}

.information-block {
    margin: auto;
    margin-bottom: 25px;
    width: 900px;
}

.button {
    margin-top: 5px;
}

.picker_selection {
    margin-left: 110px;
}

.link {
    text-decoration: none;
    color: gray
}
