/* TEMPLATE EDITOR */
.admin_form > li {
    list-style: none outside none;
    clear: both;
}

.template_editor_wrapper {
    float: left;
}

.template_editor_panel {
    float: left;
    margin-left: 50px;
}

/* TEMPLATE SELECTOR */
.scope_selector_panel {
    float: left;
    width: 355px;
}

/* TEMPLATE LIST */

.template_listing .last .admin_label {
    display: none;
}

.scope_selector_panel ul {
    padding-left: 0px;
}

/* TEMPLATE FILES */
.template_files_list_panel {
    width: 355px;
    float: left;
}

.template_file_editor_panel {
    margin: auto;
    width: 1050px;
}

.template_file_editor_panel .admin_label_wrapper {
    width: 30%;
}

.template_file_editor_panel .admin_field {
    width: 250px;
}

.template_var_migration_panel {
    width: 1050px;
    margin: auto;
    margin-top: 30px;
}

.template_content_panel {
    margin: auto;
    margin-top: 30px;
    font-size: 1.2em;
    width: 1050px;
}

.template_content_panel .markup {
    color: gray;
}