/* TEMPLATE EDITOR */
.admin_form > li {
    list-style: none outside none;
    clear: both;
}

.template_editor_wrapper {
    float: left;
}

.template_editor_panel {
    float: left;
    margin-left: 50px;
}

.template_content_panel {
    margin-left: 50px;
    font-size: 1.2em;
    clear: both;
}

.template_content_panel .markup {
    color: gray;
}

/* TEMPLATE SELECTOR */
.scope_selector_panel {
    float: left;
    width: 255px;
}

/* TEMPLATE LIST */

.template_listing .last .admin_label {
    display: none;
}

.scope_selector_panel ul {
    padding-left: 0px;
}
