.block_list {
    width: 325px;
    float: left;
    overflow-x: scroll;
}

.block_list .position_label {
    margin-left: 10px;
}

.block_list a {
    text-decoration: none;
}

.block_list a:hover {
    text-decoration: underline;
}

.block_list ul {
    padding-left: 25px;
}

.block_list ul li{
    margin-left: 20px;
    list-style-type: none;
}

.block_list .information-block {
    margin-left: 0px;
    margin-bottom: 5px;
}

.published {
    font-style: normal;
    list-style-image: url(/admin/static.php?file=/modules/blocks/img/block_published.png);
}

.depublished {
    list-style-image: url(/admin/static.php?file=/modules/blocks/img/block_depublished.png);
    font-style: italic;
}

.block_metadata_editor {
    margin-left: 350px;;
    margin-top: 15px;
}

.reset {
    clear: both;
}

.position_label {
    font-weight: bold;
}
